{% extends 'inicio.html' %}

{% block title %}Usuarios Registrados | Luminova{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom flex-column">
    <h1 class="h2">Usuarios Registrados</h1>
</div>
<div class="d-flex justify-content-end mb-3">
    <a href="#" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Crear Usuario</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ADM001</td>
                <td>admin</td>
                <td>admin@empresa.com</td>
                <td>administrador</td>
                <td>activo</td>
                <td>
                    <a href="#" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i> Editar</a>
                    <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i> Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>DEP001</td>
                <td>user01</td>
                <td>user1@empresa.com</td>
                <td>Depósito</td>
                <td>activo</td>
                <td>
                    <a href="#" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i> Editar</a>
                    <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i> Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>PROD01</td>
                <td>user02</td>
                <td>user2@empresa.com</td>
                <td>Producción</td>
                <td>activo</td>
                <td>
                    <a href="#" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i> Editar</a>
                    <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i> Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>VNT001</td>
                <td>user03</td>
                <td>user3@empresa.com</td>
                <td>Ventas</td>
                <td>activo</td>
                <td>
                    <a href="#" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i> Editar</a>
                    <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i> Eliminar</button>
                </td>
            </tr>
            </tbody>
    </table>
</div>
{% endblock %}