{% extends 'inicio.html' %}

{% block sidebar_content %}

    {% include 'produccion/sidebar_produccion.html' %}

{% endblock %}

{% block content %}




<section>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>N° OP</th>
                <th>Cliente</th>
                <th>Fecha de inicio</th>
                <th>Fecha limite</th>
                <th>Asignado a</th>

            </tr>
            <tr>
                <td>00045237</td>
                <td>Nombre</td>
                <td>fecha de inicio</td>
                <td>Fecha limite</td>
                <td><select class="form-select" id="asignar1">
                                <option selected disabled>Sin asignar</option>
                                <option value="Grupo A">Grupo A</option>
                                <option value="Grupo B">Grupo B</option>
                                <option value="Grupo C">Grupo C</option>
                        </select>
                    </td>

            </tr>
            <tr>
                <td>00045238</td>
                <td>Nombre</td>
                <td>fecha de inicio</td>
                <td>Fecha limite</td>
                <td><select class="form-select" id="asignar2">
                                <option selected disabled>Sin asignar</option>
                                <option value="Grupo A">Grupo A</option>
                                <option value="Grupo B">Grupo B</option>
                                <option value="Grupo C">Grupo C</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <td>00045240</td>
                <td>Nombre</td>
                <td>fecha de inicio</td>
                <td>Fecha limite</td>
                <td><select class="form-select" id="asignar3">
                                <option selected disabled>Sin asignar</option>
                                <option value="Grupo A">Grupo A</option>
                                <option value="Grupo B">Grupo B</option>
                                <option value="Grupo C">Grupo C</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <td>N</td>
                <td>Nombre</td>
                <td>fecha de inicio</td>
                <td>Fecha limite</td>
                <td>

                    <select class="form-select" id="asignar4">
                                <option selected disabled>Sin asignar</option>
                                <option value="Grupo A">Grupo A</option>
                                <option value="Grupo B">Grupo B</option>
                                <option value="Grupo C">Grupo C</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>N</td>
                <td>Nombre</td>
                <td>fecha de inicio</td>
                <td>Fecha limite</td>
                <td>
                    <select class="form-select" id="asignar5">
                                <option selected disabled>Sin asignar</option>
                                <option value="Grupo A">Grupo A</option>
                                <option value="Grupo B">Grupo B</option>
                                <option value="Grupo C">Grupo C</option>
                        </select>
                </td>
            </tr>

        </table>

    </div>

</section>

{% endblock %}