{% extends 'inicio.html' %}

{% block sidebar_content %}

    {% include 'produccion/sidebar_produccion.html' %}

{% endblock %}

{% block content %}

<section>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>N° Reporte</th>
                    <th>N° de Orden</th>
                    <th>Sector</th>
                    <th>Fecha</th>
                    <th>Tipo de problema</th>
                    <th>Info</th>
                </tr>
                <tr>
                    <td>0054</td>
                    <td>00045237</td>
                    <td>A</td>
                    <td>21/06/2025</td>
                    <td>Tipo</td>

                        <td>
                        <a href="#" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            Ver
                        </a>
                        <div class="modal" tabindex="-1" id="exampleModal1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Informe del Reporte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Toda la descripcion del Reporte va aca</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>0065</td>

                    <td>00045238</td>
                    <td>B</td>
                    <td>27/06/2025</td>
                    <td>Tipo</td>
                    <td>
                        <a href="#" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            Ver
                        </a>
                        <div class="modal" tabindex="-1" id="exampleModal2">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Informe del Reporte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Toda la descripcion del Reporte va aca</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>0086</td>
                    <td>00045240</td>
                    <td>C</td>
                    <td>Fecha</td>
                    <td>Tipo</td>
                    <td>
                        <a href="#" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                            Ver
                        </a>
                        <div class="modal" tabindex="-1" id="exampleModal3">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Informe del Reporte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Toda la descripcion del Reporte va aca</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>N</td>
                    <td>N</td>
                    <td>Grupo</td>
                    <td>Fecha</td>
                    <td>Tipo</td>
                    <td>
                        <a href="#" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                            Ver
                        </a>
                        <div class="modal" tabindex="-1" id="exampleModal4">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Informe del Reporte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Toda la descripcion del Reporte va aca</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>N</td>
                    <td>N</td>
                    <td>Grupo</td>
                    <td>Fecha</td>
                    <td>Tipo</td>
                    <td>
                        <a href="#" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                            Ver
                        </a>
                        <div class="modal" tabindex="-1" id="exampleModal5">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Informe del Reporte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Toda la descripcion del Reporte va aca</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>N</td>
                    <td>N</td>
                    <td>Grupo</td>
                    <td>Fecha</td>
                    <td>Tipo</td>
                    <td>
                        <a href="#" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                            Ver
                        </a>
                        <div class="modal" tabindex="-1" id="exampleModal6">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Informe del Reporte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Toda la descripcion del Reporte va aca</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>N</td>
                    <td>N</td>
                    <td>Grupo</td>
                    <td>Fecha</td>
                    <td>Tipo</td>
                    <td>
                        <a href="#" class="text-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal7">
                            Ver
                        </a>
                        <div class="modal" tabindex="-1" id="exampleModal7">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Informe del Reporte</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Toda la descripcion del Reporte va aca</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

</section>



{% endblock %}