<!-- App_Luminova/templates/modals/modal_crear_categoria_insumo.html -->
<div class="modal fade" id="modalCrearCategoriaInsumo" tabindex="-1" aria-labelledby="modalCrearCategoriaInsumoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formCrearCategoriaInsumo" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCrearCategoriaInsumoLabel">Crear Categoría de Insumo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_crear_categoria_insumo.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar Categoría</button>
                </div>
            </form>
        </div>
    </div>
</div>